<div id="donation-page" class="content">

  <header id="donation-page-header" class="container-md">
    <h1>
      <mark>Donate to DocumentCloud.</mark><br>
      Support open and truthful journalism.
    </h1>
  </header>

  <div class="container">
    
    <div class="row">
      <div class="col-xs-12 push-md-7 col-md-5 col-lg-4 offset-lg-1">
        <%= bootstrap_form_tag url: donate_charge_path, html: {id: 'donation-form', class: 'form-inline donation-form-with-buttons'} do |f| %>
          <legend class="h5 text-xs-center"><mark>Choose a donation amount:</mark></legend>
          <%= hidden_field_tag(:stripe_token) %>
          <%= hidden_field_tag(:stripe_email) %>
          <%= hidden_field_tag(:final_donation_amount) %>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-12">
              <div id="donation_amounts" class="btn-group mb-2" data-toggle="buttons">
              <% %w[25 50 100 250].each do |amount| %>
                <label class="btn btn-secondary">
                  <input name="donation_amount" id="donation-amount-<%= amount %>" value="<%= amount %>" type="radio" autocomplete="off"> $<%= amount %>
                </label>
              <% end %>
                <label class="sr-only" for="donation_amount">Amount (USD)</label>
                <input name="donation_amount_other" id="donation-amount-other" type="tel" class="form-control" placeholder="Other">
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-12">
              <p><%= f.submit 'Donate!', class: 'btn btn-block btn-success' %></p>
              <div id="error_explanation"></div>
            </div>
          </div>
          <p class="note" style="font-size:0.75rem">You’re making a tax-deductible donation on behalf of DocumentCloud to our parent non-profit <%= link_to 'Investigative Reporters & Editors', 'https://www.ire.org/' %>, a <nobr>501(c)(3)</nobr> organization.</p>
        <% end %>
      </div>
      <div class="col-xs-12 pull-md-5 col-md-7">
        <p class="lead">Journalism starts with the facts: what happened? Can you prove it? Getting to the truth can be hard, and convincing others even harder.</p>
        <p>Investigative journalists use DocumentCloud to sort through piles of primary source documents, find the story, and then publish that evidence for the public. It's been used in some of the most important reporting of the decade, like St. Louis Public Radio's <%= external_link_to 'Ferguson Project', 'http://apps.stlpublicradio.org/ferguson-project/evidence.html' %> and the <%= external_link_to 'Pulitzer-winning “An Unbelievable Story of Rape”', 'http://www.pulitzer.org/winners/t-christian-miller-propublica-and-ken-armstrong-marshall-project' %>.</p>
        <p>More than <strong><%= link_to "#{ActiveSupport::NumberHelper.number_to_human Document.unrestricted.count, precision: 2} documents", public_search_url, target: '_blank' %></strong> constituting <strong><%= "#{ActiveSupport::NumberHelper.number_to_human Document.unrestricted.sum(:page_count) } pages" %></strong> have been released to the public through DocumentCloud.</p>
        <p>If you want to support us in our mission to make good, evidence-backed reporting better and easier, please donate to DocumentCloud. We run lean on grants and donations, and every dollar helps.</p>
      </div>
    </div>

    <div class="row">
      <div id="suggestions" class="col-xs-12 col-sm-6 push-sm-6 my-5">
        <h2 class="h4 text-xs-center">Your donation helps make stories like these possible:</h2>
        <div class="card-columns">
          <div class="card">
            <%= external_link_to image_tag('/images/donations/dmn-ken-starr.jpg', size: '600x426', alt: '', class: 'card-img img-fluid'), 'http://interactives.dallasnews.com/2016/the-silence-of-ken-starr/' %>
          </div>
          <div class="card">
            <%= external_link_to image_tag('/images/donations/guardian-nsa.jpg', size: '600x360', alt: '', class: 'card-img img-fluid'), '' %>
          </div>
          <div class="card">
            <%= external_link_to image_tag('/images/donations/panama-papers.jpg', size: '600x360', alt: '', class: 'card-img img-fluid'), 'https://panamapapers.icij.org/' %>
          </div>
          <div class="card">
            <%= external_link_to image_tag('/images/donations/lat-notorious-big.jpg', size: '600x550', alt: '', class: 'card-img img-fluid'), '' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 pull-sm-6 my-5">
        <h2 class="h4 text-xs-center">What journalists say:</h2>
        <section class="letter guardian">
          <img src="https://i.guim.co.uk/img/static/sys-images/Guardian/Pix/contributor/2014/10/16/1413469782521/Rich-Harris.jpg" width="150" height="150" class="testimonial-photo img-thumbnail float-sm-right">
          <h3 class="h5 mb-3"><%= link_to 'Rich Harris', 'https://www.theguardian.com/profile/rich-harris' %> (Guardian US):</h3>
          <p class="read-more-summary mb-0">
            DocumentCloud is an essential part of the news ecosystem. It is a well-designed, easy-to-use tool that journalists around the world depend on for publishing documents that are in the public interest. In an industry built on deadlines, having a reliable go-to service like DocumentCloud is the difference between information being open, and being locked up in screenshots in proprietary CMSes.
            <a href="#read-more-rich-harris" class="read-more-link">Read more…</a>
          </p>
          
          <div id="read-more-rich-harris" class="read-more-detail hidden-xs-up">
            <p>At the Guardian, we’ve used DocumentCloud on countless articles. On my team, the Guardian US interactive team, it’s been a crucial feature of many of our most important stories. Most recently, a trove of 1,500 documents – firmly in the public interest, but ordered destroyed by the Wisconsin Supreme Court – were put in the public domain following our <%= link_to 'investigation', 'https://www.theguardian.com/us-news/ng-interactive/2016/sep/14/john-doe-files-scott-walker-corporate-cash-american-politics' %> into the questionable campaign finance arrangements used by 2016 presidential candidate Scott Walker during his 2012 recall election.</p>
            <p>Thanks to DocumentCloud we were able to highlight and link to specific parts of the Walker documents, including a photocopy of a check with the damning handwritten phrase “<%= link_to 'Because Scott Walker Asked', 'http://www.documentcloud.org/documents/3105984-2012-08-14-Exhibits-01-100-PT1.html#document/p52/a317493' %>”:</p>
            <link rel="stylesheet" href="//assets.documentcloud.org/note_embed/note_embed.css" type="text/css"> <div class="DC-embed DC-embed-note DC-note-container"> <div class="DC-note" style="background-image:url('https://assets.documentcloud.org/documents/3105984/pages/2012-08-14-Exhibits-01-100-PT1-p52-normal.gif')"> <div class="DC-note-header"> <a class="DC-note-embed-resource" title="View the note “G Frederick Kasten Jr. check” in its original document context on DocumentCloud in a new window or tab" target="_blank" href="https://www.documentcloud.org/documents/3105984-2012-08-14-Exhibits-01-100-PT1.html#document/p52/a317493"><span class="DC-note-title">G Frederick Kasten Jr. check</span> <span class="DC-note-page-number">(p. 52)</span></a> </div> <div class="DC-note-image-max-bounds" style="max-height:155px;max-width:307px;"> <div class="DC-note-image-aspect-ratio" style="padding-bottom:50.4885993485342%;"> <iframe class="DC-note-image-space-filler" src="//www.documentcloud.org/documents/3105984-2012-08-14-Exhibits-01-100-PT1/annotations/317493.html?embed=true" title="Note “G Frederick Kasten Jr. check” on document “2012-08-14-Exhibits-01-100-PT1”" sandbox="allow-scripts allow-same-origin allow-popups" frameborder="0"></iframe> </div> </div> <div class="DC-note-body"></div> <div class="DC-note-credit"> <a title="View the note “G Frederick Kasten Jr. check” in its original document context on DocumentCloud in a new window or tab" target="_blank" href="//www.documentcloud.org/documents/3105984-2012-08-14-Exhibits-01-100-PT1.html#document/p52/a317493">View entire document on <span class='DC-note-logotype-link'>DocumentCloud</span></a> </div> <div class="DC-note-background-fader"></div> </div> </div>
            <p>As a direct result of having the entire document set online in a linkable, searchable form, local reporters in Wisconsin who had been following the story for a long time were very quickly able to follow up our reporting with fresh angles. Powerful public officials were held to account by an empowered fourth estate.</p>
            <p>Part of DocumentCloud’s success is that they keenly understand the needs of journalists, with an advisory group that includes some of the best-known names in digital media. The staff are fully part of the journalism community, and are familiar faces at media conferences.</p>
            <p>I can think of few open source projects more deserving of financial support.</p>
          </div>
        </section>
        <section class="letter propublica">
          <img src="https://pbs.twimg.com/profile_images/545792431778590720/bdEY0hf7.jpeg" width="150" height="150" class="testimonial-photo img-thumbnail float-sm-right">
          <h3 class="h5 mb-3"><%= link_to 'T. Christian Miller', 'https://www.propublica.org/site/author/t_christian_miller' %> (ProPublica):</h3>
          <p class="read-more-summary mb-0">
            Here's how I used DocumentCloud. “<%= link_to 'An Unbelievable Story of Rape', 'https://www.propublica.org/article/false-rape-accusations-an-unbelievable-story' %>”, published by ProPublica and The Marshall Project, could not have happened without DocumentCloud.
            <a href="#read-more-t-miller" class="read-more-link">Read more…</a>
          </p>
          <div id="read-more-t-miller" class="read-more-detail hidden-xs-up">
            <p><a href="https://www.propublica.org/article/false-rape-accusations-an-unbelievable-story"><img src="/images/rare/unbelievable.png" width="706" height="937" class="img-fluid img-thumbnail" alt=""></a></p>
            <p>In order to tell the story, Ken Armstrong, my co-author, and I gathered thousands of pages of police department reports, court transcripts, academic studies and other documents. We stored them in DocumentCloud for many reasons. DocumentCloud’s OCR system, which scans documents to convert them into searchable text, allowed us to quickly locate information. The notes feature allowed us to highlight important sections or themes, becoming a sort of outline on the fly. With two organizations working together, DocumentCloud made collaboration easier, too.</p>
          </div>
        </section>
      </div>
    </div>

  </div>

</div>
<% (@javascripts_footer ||= []).push 'https://checkout.stripe.com/checkout.js' %>
<% content_for :javascript_footer_inline do %>
  <%= render partial: 'common/donate_widget_js' %>
  $('#donation-amount-50').closest('.btn').trigger('click');
  $('.read-more-link').on('click', function(e){
    e.preventDefault();
    var $link = $(this);
    var $target = $($link.attr('href'));
    $target.removeClass('hidden-xs-up');
    $link.hide().closest('.read-more-summary').removeClass('mb-0');
  });
<% end %>
