<!DOCTYPE html>

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="ClearType" content="true" />
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <title><%= @query %></title>

  <% if Rails.env.production? %>
    <% @pageview_url = '/search/preview' %>
    <%= render :partial => 'common/google' %>
  <% end %>
</head>
<body style="margin:0; padding:0;">

  <div class="DC-embed-preview">
    <div id="DC-search-<%= @slug %>"></div>
    <script src="<%= DC.cdn_root %>/search/loader.js"></script>
    <script>
      dc.embed.load("<%= DC.server_root(:ssl => false) %>/search/embed/", <%=raw @options %>);
    </script>
  </div>

</body>
</html>
