<!DOCTYPE html>
<html lang="en">
<head>
  <%= render :partial => 'common/meta_tags' %>
  <meta http-equiv="ClearType" content="true">
  <title><%= @query %></title>
</head>
<body style="margin:0; padding:0;">

  <div class="DC-embed-preview">
    <div id="DC-search-<%= @slug %>"></div>
    <script src="<%= DC.cdn_root %>/embed/loader.js"></script>
    <script>
      dc.embed.load("<%= DC.server_root %>/search/embed/", <%=raw @options %>);
    </script>
  </div>

  <%= render :partial => 'common/google', :locals => { :pageview_url => '/search/preview' } %>

</body>
</html>
