<!DOCTYPE html>

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="ClearType" content="true" />
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <title><%= @query %></title>

  <%= include_stylesheets(:search_embed) %>
  <%= include_javascripts(:search_embed) %>
  
  <% if Rails.env.production? %>
    <% @pageview_url = '/search/preview' %>
    <%= render :partial => 'common/google' %>
  <% end %>
</head>
<body style="margin:0; padding:0;">

  <div class="DC-embed-preview">
    <div class="DC-embed-preview-title serif">The Daily Planet</div>
    <div id="DC-search-<%= @slug %>"></div>
    <script>
      dc.loadSearchEmbed('/api/search.js', <%= @options %>);
    </script>
  </div>

</body>
</html>