<%
  @title  = "Apply"
  @header = "Apply for a DocumentCloud account"
%>

<div id="return_to_v1">
  <%= link_to '⬅︎ Return to main site', :home, id: 'return_to_v1_text' %>
  <a id="return_to_v1_logo" href="/home"><img src="/images/common/document_cloud_logo_white@2x.png" width="150" height="32"></a>
</div>

<h1><%= @header %></h1>

<%= form_for @verification_request, :url => :apply_create, :html => { :class => 'form_v2', :novalidate => true } do |f| %>

  <p>DocumentCloud is a tool primarily used by journalists to organize, research and publish primary source documents. But we do consider users in other industries. Fill out this application and we’ll be in touch, usually within a few days. Note that incomplete applications will not be processed. For help, feel free to <%= link_to 'contact us', :contact %>.</p>

  <fieldset class="fieldrow has3">
    <div class="fieldwrap">
      <input id="requester_first_name" name="requester_first_name" type="text" class="field">
      <label class="fieldlabel" for="requester_first_name">
        <span class="fieldlabel_content" data-content="First name">First name</span>
      </label>
    </div>
    <div class="fieldwrap">
      <input id="requester_last_name" name="requester_last_name" type="text" class="field">
      <label class="fieldlabel" for="requester_last_name">
        <span class="fieldlabel_content" data-content="Last name">Last name</span>
      </label>
    </div>
    <div class="fieldwrap">
      <input id="requester_email" name="requester_email" type="email" class="field">
      <label class="fieldlabel" for="requester_email">
        <span class="fieldlabel_content" data-content="Email">Email</span>
      </label>
    </div>
  </fieldset>

  <fieldset class="fieldrow has3">
    <div class="fieldwrap">
      <input id="organization_name" name="organization_name" type="text" class="field">
      <label class="fieldlabel" for="organization_name">
        <span class="fieldlabel_content" data-content="Organization">Organization</span>
      </label>
    </div>
    <div class="fieldwrap">
      <input id="organization_url" name="organization_url" type="url" class="field">
      <label class="fieldlabel" for="organization_url">
        <span class="fieldlabel_content" data-content="Organization URL">Organization URL</span>
      </label>
    </div>
    <div class="fieldwrap">
      <%= f.country_select :country, {priority_countries: ['US'], prompt: ''}, :class => 'field', :name => 'country' %>
      <label class="fieldlabel" for="country">
        <span class="fieldlabel_content" data-content="Country ⬇︎">Country &rarr;</span>
      </label>
    </div>
  </fieldset>

  <div id="journalism_toggler">
    <fieldset class="radioset">
      <label class="radioset_label">Are you a <b>journalist</b> working with <b>primary source documents</b>?</label>
      <div class="radiowrap">
        <input id="in_market_yes" name="in_market" value="1" type="radio">
        <label for="in_market_yes">Yes</label>
      </div>
      <div class="radiowrap">
        <input id="in_market_no" name="in_market" value="0" type="radio">
        <label for="in_market_no">No (or I’m not sure)</label>
      </div>
    </fieldset>
  </div>

  <div class="togglewrap">
    <fieldset id="in_market_fields" class="togglebox closed">
      <fieldset class="radioset">
        <label class="radioset_label">We need someone – usually your editor or producer – to <strong>grant permission</strong> for us to add your newsroom to our <%= link_to 'public list of document contributors', :contributors, target: '_blank' %> and <strong>confirm that they understand</strong> that documents you make public will appear in our <%= link_to 'public catalog', :public_search, target: '_blank' %>.</label>
        <div class="radiowrap">
          <input id="approver_other" name="approver" value="other" type="radio" disabled>
          <label for="approver_other">
            Contact
            <div class="fieldwrap inline">
              <input id="approver_first_name" name="approver_first_name" type="text" class="field" disabled>
              <label class="fieldlabel" for="approver_first_name">
                <span class="fieldlabel_content" data-content="first name">first name</span>
              </label>
            </div>
            <div class="fieldwrap inline">
              <input id="approver_last_name" name="approver_last_name" type="text" class="field" disabled>
              <label class="fieldlabel" for="approver_last_name">
                <span class="fieldlabel_content" data-content="last name">last name</span>
              </label>
            </div>
            at
            <div class="fieldwrap inline">
              <input id="approver_email" name="approver_email" type="text" class="field" disabled>
              <label class="fieldlabel" for="approver_email">
                <span class="fieldlabel_content" data-content="email">email</span>
              </label>
            </div>
            for permission
          </label>
        </div>
        <div class="radiowrap">
          <input id="approver_self" name="approver" value="self" type="radio" disabled>
          <label for="approver_self">
            I’m a
            <div class="fieldwrap inline">
              <input id="requester_position" name="requester_position" type="text" class="field" disabled>
              <label class="fieldlabel" for="requester_position">
                <span class="fieldlabel_content" data-content="title/position">title/position</span>
              </label>
            </div>
            and I grant permission to add our newsroom to the <%= link_to 'public list of contributors', :contributors, target: '_blank' %> and acknowledge that documents we make public will appear in the <%= link_to 'public catalog', :public_search, target: '_blank' %>
          </label>
        </div>
      </fieldset>
      <div class="fieldwrap">
        <textarea id="reference_links" name="reference_links" class="field" disabled></textarea>
        <label class="fieldlabel" for="reference_links">
          <span class="fieldlabel_content" data-content="Links to some of your work">Links to some of your work</span>
        </label>
      </div>
    </fieldset>

    <fieldset id="non_in_market_fields" class="togglebox closed">
      <div class="fieldwrap">
        <input id="industry" name="industry" type="text" class="field" disabled>
        <label class="fieldlabel" for="industry">
          <span class="fieldlabel_content" data-content="What industry do you work in?">What industry do you work in?</span>
        </label>
      </div>
      <div class="fieldwrap">
        <textarea id="use_case" name="use_case" class="field" disabled></textarea>
        <label class="fieldlabel" for="use_case">
          <span class="fieldlabel_content" data-content="How would you like to use DocumentCloud?">How would you like to use DocumentCloud?</span>
        </label>
      </div>
    </fieldset>
  </div>

  <div class="fieldwrap">
    <textarea id="requester_notes" name="requester_notes" class="field"></textarea>
    <label class="fieldlabel" for="requester_notes">
      <span class="fieldlabel_content" data-content="Anything else you want to tell us?">Anything else you want to tell us?</span>
    </label>
  </div>

  <fieldset class="checkset">
    <div class="checkwrap">
      <input id="agreed_to_terms" name="agreed_to_terms" type="checkbox">
      <label for="agreed_to_terms">
        I agree to the <a href="/terms" target="_blank">DocumentCloud terms of service</a>
      </label>
    </div>
    <div class="checkwrap">
      <input id="marketing_optin" name="marketing_optin" type="checkbox">
      <label for="marketing_optin">
        Email me updates about new DocumentCloud features and services
      </label>
    </div>
  </fieldset>

  <div class="submitwrap">
    <button type="submit">Submit application</button>
  </div>

<% end %>
