<div class="content">
  <div class="container-sm">

    <%= form_tag admin_add_organization_path, method: 'post' do %>
      <%= token_tag %>
      <div class="form-group row">
        <label for="organization_name" class="col-sm-4 col-form-label">Organization Name</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" name="organization[name]" id="organization_name" placeholder="The Daily Planet" value="<%= @params[:organization][:name] %>">
        </div>
      </div>
      <div class="form-group row">
        <label for="organization_slug" class="col-sm-4 col-form-label">Short Name (Slug)</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" name="organization[slug]" id="organization_slug" placeholder="daily-planet" value="<%= @params[:organization][:slug] %>">
        </div>
      </div>
      <div class="form-group row">
        <label for="organization_language" class="col-sm-4 col-form-label">Interface Language</label>
        <div class="col-sm-8">
          <select name="organization[language]" class="form-control" id="organization_language">
            <% DC::Language::USER.each do |lang| %>
            <option value="<%= lang %>" <%= 'selected' if lang == @params[:organization][:language] %>><%= DC::Language::NAMES[lang] %></option>
            <% end %>
          </select>
          <div class="form-text small text-muted">What language the workspace interface will use.</div>
        </div>
      </div>
      <div class="form-group row">
        <label for="organization_document_language" class="col-sm-4 col-form-label">Document Language</label>
        <div class="col-sm-8">
          <select name="organization[document_language]" class="form-control" id="organization_document_language">
            <% DC::Language::SUPPORTED.each do |lang| %>
            <option value="<%= lang %>" <%= 'selected' if lang == @params[:organization][:document_language] %>><%= DC::Language::NAMES[lang] %></option>
            <% end %>
          </select>
          <div class="form-text small text-muted">What language documents will default to for processing when uploaded.</div>
        </div>
      </div>
      <% if @account && !@account.errors.any? %>
        <div class="form-group has-danger row">
          <label for="account_email" class="col-sm-4 col-form-label">Admin Email Address</label>
          <div class="col-sm-8">
            <input type="email" class="form-control" name="account[email]" id="account_email" value="<%= @params[:account][:email] %>" readonly>
            <% if @account.organization %>
              <p class="form-control-feedback">That account already exists with the name <b><%= @account.full_name %></b>, and is currently linked to <b><%= @account.organization.name %></b>.</p>
              <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="move_account" value="t">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Click here to move the account to this new organization</span>
              </label>
            <% else %>
              <p class="form-control-feedback">Account already exists but is currently linked to no organization. Weird.</p>
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="form-group row">
          <label for="account_email" class="col-sm-4 col-form-label">Admin Email Address</label>
          <div class="col-sm-8">
            <input type="email" class="form-control" name="account[email]" id="account_email" value="<%= @params[:account][:email] %>" placeholder="c.kent@dailyplanet.foo" <%= 'readonly' if @account && !@account.errors.any? %>>
          </div>
        </div>
        <div class="form-group row">
          <label for="account_first_name" class="col-sm-4 col-form-label">Admin Name</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" name="account[first_name]" id="account_first_name" placeholder="Clark" value="<%= @params[:account][:first_name] %>">
          </div>
          <div class="col-sm-4">
            <input type="text" class="form-control" name="account[last_name]" id="account_last_name" placeholder="Kent" value="<%= @params[:account][:last_name] %>">
          </div>
        </div>
      <% end %>
      <p class="my-5"><button type="submit" class="btn btn-success">Add organization</button></p>
    <% end %>
    <p class="text-center note mb-0">This form is intended as an admin tool. All users, especially those who plan to upload documents to DocumentCloud, should review our <%= link_to 'terms of service', terms_path %>.</p>
  </div>
</div>
