<style type="text/css">
  .stat {
    font-weight: 500;
    white-space: nowrap;
  }
</style>

<div class="container-lg content paper">
  <section class="mt-4 mb-5">
    <%= link_to 'Edit', admin_edit_organization_path(slug: @organization.slug), class: 'btn btn-sm btn-primary float-right ml-1 mb-1' %>
    <p>
      <b><%= @organization.name %></b> joined <%= time_ago_in_words(@organization.created_at) %> ago on <span class="stat"><%= @organization.created_at.strftime("%B %d, %Y") %></span>. It has <span class="stat"><%= "#{@member_count} member".pluralize(@member_count) %></span> (including <span class="stat"><%= "#{@admin_count} administrator".pluralize(@admin_count) %></span>).
      Since <%= @organization.created_at == @since ? 'then' : "<span class='stat'>#{@since.strftime("%B %d, %Y")}</span>".html_safe %>, <span class="stat"><%= "#{number_with_delimiter(@document_count)} document".pluralize(@document_count) %></span> have been uploaded (<%= number_with_delimiter(@public_count) %> public, <%= number_with_delimiter(@private_count) %> private), which have received <span class="stat"><%= number_with_delimiter(@hit_count) %> views</span> (<%= link_to 'download CSV', admin_download_document_hits_path(slug: @organization.slug), class: 'btn-link-inline' %>).
    </p>
  </section>
  <section class="mb-5">
    <table class="table table-striped table-sortable">
      <thead>
        <tr>
          <th data-sort="string-ins">Top <%= @top_count %> Uploaders</th>
          <th data-sort="string-ins">Email</th>
          <th data-sort="int">Documents</th>
        </tr>
      </thead>
      <tbody>
      <% @top_uploaders.each do |account, count| %>
        <tr>
          <td><%= account.full_name %></td>
          <td><%= mail_to account.email %></td>
          <td><%= link_to count, "/search/Account:#{account.slug}", class: 'btn btn-sm btn-primary', target: '_blank' %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </section>
  <section>
    <table class="table table-striped table-disablable table-sortable table-filterable">
      <thead>
        <tr>
          <th data-sort="string-ins">Members – <span class="filterable-count"><%= @memberships.count %></span></th>
          <th data-sort="string-ins">Email</th>
          <th data-sort="string-ins">Role</th>
          <th data-sort="int">Age</th>
        </tr>
        <tr>
          <th colspan="4">
            <input type="text" class="form-control filterable-filter" placeholder="Quick filter…">
          </th>
        </tr>
      </thead>
      <tbody>
      <% @memberships.each do |membership| %>
        <tr <%= 'class=row-disabled' unless membership.active? %>>
          <td><%= membership.account.full_name %></td>
          <td><%= mail_to membership.account.email %></td>
          <td><%= membership.role_name.titleize %></td>
          <td data-sort-value="<%= membership.account.created_at.to_i %>"><%= time_ago_in_words membership.account.created_at %></td>
        </tr>
      <% end %>
      </tbody>
      <tfoot>
        <tr class="table-empty-notice">
          <td colspan="4">Nothing matches that filter.</td>
        </tr>
      </tfoot>
    </table>
  </section>
</div>

<% content_for :javascript_footer_inline do %>
  $('.table-sortable').stupidtable();
  $('.table-filterable').quickFilterTable();
<% end %>
