<style type="text/css">
  .stat {
    font-weight: bold;
    white-space: nowrap;
  }
</style>

<div class="container-md content paper">
  <section class="mt-4 mb-5">
    <p><b><%= @organization.name %></b> joined <%= time_ago_in_words(@organization.created_at) %> ago on <%= @organization.created_at.strftime("%B %d, %Y") %>. It has <span class="stat"><%= "#{@member_count} member".pluralize(@member_count) %></span> (including <span class="stat"><%= "#{@admin_count} administrator".pluralize(@admin_count) %></span>).
    Since <%= @organization.created_at == @since ? 'then' : @since.strftime("%B %d, %Y") %>, <span class="stat"><%= "#{number_with_delimiter(@document_count)} document".pluralize(@document_count) %></span> have been uploaded (<%= number_with_delimiter(@public_count) %> public, <%= number_with_delimiter(@private_count) %> private), which have received <span class="stat"><%= number_with_delimiter(@hit_count) %> views</span>.</p>
  </section>
  <section class="mb-5">
    <table class="table table-striped sortable">
      <thead>
        <tr>
          <th data-sort="string-ins">Top <%= @top_count %> Uploaders</th>
          <th data-sort="string-ins">Email</th>
          <th data-sort="int">Documents</th>
        </tr>
      </thead>
      <tbody>
      <% @top_uploaders.each do |account, count| %>
        <tr>
          <td><%= account.full_name %></td>
          <td><%= mail_to account.email %></td>
          <td><%= count %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </section>
  <section>
    <table class="table table-striped sortable">
      <thead>
        <tr>
          <th data-sort="string-ins">Administrators</th>
          <th data-sort="string-ins">Email</th>
          <th data-sort="int">Age</th>
        </tr>
      </thead>
      <tbody>
      <% @administrators.each do |account| %>
        <tr>
          <td><%= account.full_name %></td>
          <td><%= mail_to account.email %></td>
          <td data-sort-value="<%= account.created_at.to_i %>"><%= time_ago_in_words account.created_at %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </section>
</div>

<% content_for :javascript_footer_inline do %>
  $('.sortable').stupidtable();
<% end %>
