<%
  @title      = "Add a New Organization"
  @bodyclass  = "full_page_background"
%>

<div id="full_screen_form" class="full_page_background">
  <form action="/admin/signup" method="POST">
    <%= token_tag %>
    <h1>Add a New Organization</h1>
    <% if @failure %>
      <div class="form_error">
        <span><%= @failure %></span>
      </div>
    <% end %>
    <% if @success %>
      <div class="form_success">
        <span><%= @success %></span>
      </div>
    <% end %>
    <div class="line">
      <div class="text_input">
        <div class="background">
          <div class="inner">
            <input type="text" name="organization[name]" id="organization_name" value="<%= @params[:organization][:name] %>" />
          </div>
        </div>
      </div>
      <label for="organization_name">
        Organization Name:<br /><span class="example">ex: The Daily Tribune</span>
      </label>
    </div>
    <div class="line">
      <div class="text_input">
        <div class="background">
          <div class="inner">
            <input type="text" name="organization[slug]" id="organization_slug" value="<%= @params[:organization][:slug] %>" />
          </div>
        </div>
      </div>
      <label for="organization_slug">
        Short Name for URLs:<br /><span class="example">ex: daily-tribune</span>
      </label>
    </div>

    <div class="line">
      <select name="organization[language]" class="language input" id="language">
        <% DC::Language::USER.each do | language | %>
        <option value="<%= language %>" <%= "selected=true" if language == @params[:organization][:language] %>><%= DC::Language::NAMES[ language ]  %></option>
        <% end %>
      </select>
      <label for="language">
        Interface Language:<br /><span class="example">For Organization and Admin Account</span>
      </label>
    </div>

    <div class="line">
      <select name="organization[document_language]" class="language input" id="document_language">
        <% DC::Language::SUPPORTED.each do | language | %>
          <option value="<%= language %>" <%= "selected=true" if language == @params[:organization][:document_language] %>><%= DC::Language::NAMES[ language ]  %></option>
        <% end %>
      </select>
      <label for="document_language">
        Document Language:<br /><span class="example">What documents will default to when uploaded</span>
      </label>
    </div>

    <div class="line">
      <div class="text_input">
        <div class="background">
          <div class="inner">
            <input type="text" name="account[email]" id="account_email" value="<%= @params[:account][:email] %>" <%="readonly" if @account && !@account.errors.any? %> />
          </div>
        </div>
      </div>
      <label for="account_email">
        Admin Email Address:<br /><span class="example">Email of the account owner</span>
      </label>
    </div>

  <% if @account && !@account.errors.any? %>
    <div class="line">
    <% if @account.organization %>
      <p class="row-message">Account exists and is currently linked to  &ldquo;<%= @account.organization.name %>&rdquo;.</p>
      <div class="input">
        <input type="checkbox" name="move_account" id="move_account" value="t"/>
      </div>
      <label for="move_account">
        Switch Organization:
      </label>
    <% else %>
      <p class="row-message">Account already exists but is currently linked to no organization. Weird.</p>
    <% end %>
    </div>
  <% else %>
    <div class="line">
      <div class="text_input left_half">
        <div class="background">
          <div class="inner">
            <input type="text" id="first_name" name="account[first_name]" value="<%= @params[:account][:first_name] %>" />
          </div>
        </div>
      </div>
      <div class="text_input right_half">
        <div class="background">
          <div class="inner">
            <input type="text" name="account[last_name]" value="<%= @params[:account][:last_name] %>" />
          </div>
        </div>
      </div>
      <label for="first_name">
        Full Name:<br /><span class="example">First name, last name</span>
      </label>
    </div>
  <% end %>
    <div class="line license">
    This form is intended as an admin tool. All users, especially those who plan to upload documents to DocumentCloud should review our terms of service, which can be found at <a href="https://www.documentcloud.org/terms">https://www.documentcloud.org/terms</a>.
    </div>
    <div class="line">
      <div class="minibutton" onclick="$('#full_screen_form form').submit();">Sign Up</div>
    </div>
  </form>
</div>
