<div id="sidebar" class="sans">

  <%= render :partial => 'home/help_navigation' if @nav == 'guide' %>
  

  <% if @current_account && !@current_account.reviewer? %>

    <div class="sidebar_section">
      Welcome, <%= @current_account.full_name %>.
      <a href="/"><span class="minibutton default">Start using DocumentCloud</span></a>
    </div>

  <% end %>


  <div id="search_wrapper" class="sidebar_section">
    <div id="search_desc">
      Search thousands of public documents<br />
      from newsrooms across the country:
    </div>
    <div id="search_box_wrapper" class="text_input search noselect">
      <div class="icon search_glyph"></div>
      <div class="search_inner">
        <input placeholder="Search..." id="search_box" />
      </div>
      <div class="icon cancel_search" title="clear search"></div>
    </div>
  </div>

  <% if !@current_account || @current_account.reviewer? %>

    <div class="sidebar_section login_section">
      <% if flash[:error] %>
        <div class="error">
          <%= flash[:error] %>
        </div>
      <% end %>
      <form id="login_form" action="<%= DC.server_root(:force_ssl => true) %>/login" method="POST">
        <%= token_tag %>
        <div class="text_input first light">
          <div class="inner">
           <input type="text" name="email" placeholder="Email" id="account_email" />
          </div>
        </div>
        <div class="text_input light">
          <div class="inner">
            <input type="password" name="password" placeholder="Password" id="account_password" />
          </div>
        </div>
        <span class="minibutton" id="login_button">Log in</span>
        <a class="reset_password" href="/reset_password">Forgot your password?</a>
        <input type="submit" class="hidden_submit" />
      </form>
    </div>

  <% end %>
  
  <div id="news" class="sidebar_section">
    <div class="section_title">
      News
    </div>
    <ul>
      <li>
        March 7, 2015 &mdash; <a href="http://blog.documentcloud.org/blog/2015/03/145812/">Shearing PDFs with PDFShaver at DocumentCloud</a>
      </li>
      <li>
        March 7, 2015 &mdash; <a href="http://blog.documentcloud.org/blog/2015/03/job-posting-documentcloud-seeks-data-engineer/">Job posting: DocumentCloud seeks data engineer</a>
      </li>
      <li>
        Feb. 26, 2015 &mdash; <a href="http://blog.documentcloud.org/blog/2015/02/documentcloud-at-nicar-2015-atlanta/">Catch DocumentCloud at NICAR 2015 in Atlanta</a>
      </li>
      <li>
        Jan. 20, 2015 &mdash; <a href="http://blog.documentcloud.org/blog/2015/01/ahead-for-2015-a-faster-more-productive-documentcloud/">Ahead for 2015: A Faster, More Productive DocumentCloud</a>
      </li>
      <li>
        Jan. 6, 2015 &mdash; <a href="http://blog.documentcloud.org/blog/2015/01/welcome-aboard-anthony-debarros/">Welcome aboard, Anthony DeBarros!</a>
      </li>
      <li>
        Sept. 25, 2014 &mdash; <a href="http://blog.documentcloud.org/blog/2014/09/how-we-made-documentcloud-embeds-responsive/">How we made DocumentCloud note embeds responsive</a>
      </li>
    </ul>
  </div>

  <div id="about" class="sidebar_section">
    <div class="section_title">
      About DocumentCloud
    </div>
    <ul>
      <li><a href="/featured">Featured Reporting</a></li>
      <li><a class="external_link" href="http://blog.documentcloud.org/">Latest Updates</a></li>
      <li><a href="/faq">Frequently Asked Questions</a></li>
      <li><a href="/contributors">Document Contributors</a></li>
      <li><a href="/news">In the News</a></li>
      <li><a href="/help/api">The DocumentCloud API</a></li>
      <li><a href="/contact">Contact Us</a></li>
    </ul>
  </div>

  <% if @title != 'Contact' && (!@current_account || @current_account.reviewer?) %> 

    <div id="join" class="sidebar_section">
      DocumentCloud is a tool for journalists.<br />
      If you're reporting on or publishing primary source documents, we can help.
      <a href="/contact"><span class="minibutton default">Join DocumentCloud</span></a>
    </div>

  <% end %>

</div>
