<div id="sidebar" class="sans">

  <%= render :partial => 'home/help_navigation' if @nav == 'guide' %>
  

  <% if @current_account && !@current_account.reviewer? %>

    <div class="sidebar_section">
      Welcome, <%= @current_account.full_name %>.
      <a href="/"><span class="minibutton default">Start using DocumentCloud</span></a>
    </div>

  <% else %>

    <div id="join" class="sidebar_section">
      DocumentCloud is a tool for journalists.<br />
      If you're reporting on or publishing primary source documents, we can help.
      <a href="/apply"><span class="minibutton default">Join DocumentCloud</span></a>
    </div>

    <div class="sidebar_section login_section">
      <% if flash[:error] %>
        <div class="error">
          <%= flash[:error] %>
        </div>
      <% end %>
      <form id="login_form" action="<%= DC.server_root(:force_ssl => true) %>/login" method="POST">
        <%= token_tag %>
        <div class="text_input first light">
          <div class="inner">
           <input type="text" name="email" placeholder="Email" id="account_email" />
          </div>
        </div>
        <div class="text_input light">
          <div class="inner">
            <input type="password" name="password" placeholder="Password" id="account_password" />
          </div>
        </div>
        <span class="minibutton" id="login_button">Log in</span>
        <a class="reset_password" href="/reset_password">Forgot your password?</a>
        <input type="submit" class="hidden_submit" />
      </form>
    </div>

  <% end %>

  <div id="search_wrapper" class="sidebar_section">
    <div id="search_desc">
      Search thousands of public documents<br />
      from newsrooms around the world:
    </div>
    <div id="search_box_wrapper" class="text_input search noselect">
      <div class="icon search_glyph"></div>
      <div class="search_inner">
        <input placeholder="Search..." id="search_box" />
      </div>
      <div class="icon cancel_search" title="clear search"></div>
    </div>
  </div>

  <% if @current_account && !@current_account.reviewer? %>

    <div id="email_signup" class="sidebar_section">
      <div class="section_title">
        Get DocumentCloud News &amp; Tips
      </div>
      <form action="//documentcloud.us11.list-manage.com/subscribe/post?u=4e1ca6e52b3163639d641f360&amp;id=20a793193a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" style="margin-top:22px" novalidate>
        <div class="text_input first light mc-field-group">
          <div class="inner">
            <input type="email" value="<%= @current_account.email %>" placeholder="Email" name="EMAIL" class="required email" id="mce-EMAIL" />
          </div>
        </div>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_4e1ca6e52b3163639d641f360_20a793193a" tabindex="-1" value=""></div>
        <div class="clear">
          <button type="submit" value="Subscribe" name="subscribe" class="minibutton default">Subscribe</button>
        </div>
      </form>
    </div>

  <% end %>

  <div id="about" class="sidebar_section">
    <div class="section_title">
      About DocumentCloud
    </div>
    <ul>
      <li><a href="/featured">Featured Reporting</a></li>
      <li><a class="external_link" href="https://blog.documentcloud.org/">Latest Updates</a></li>
      <li><a href="/faq">Frequently Asked Questions</a></li>
      <li><a href="/contributors">Document Contributors</a></li>
      <li><a href="/help/api">The DocumentCloud API</a></li>
      <li><a href="/contact">Contact Us</a></li>
    </ul>
  </div>

  <div id="news" class="sidebar_section">
    <div class="section_title">
      Latest News
    </div>
    <ul id="news_headlines">
      <li><img style="vertical-align:text-top" src="/images/search_embed/embed/spinner_circle.gif"/> Headlines <a href="http://en.wikipedia.org/wiki/To_come_%28publishing%29">TK</a></li>
    </ul>
  </div>

</div>
