<%
  @title  = 'Document Contributors'
  @header = 'Document Contributors'
%>

<div id="content">

  <p>
    The organizations below have agreed to work with us as we continue to 
    develop and refine DocumentCloud. Check out the 
    <a href="/featured">document-driven reporting</a> they've already done.
  </p>

  <div class="columns sans">
    <% len = (@contributors.length / 3).ceil %>
    <ul class="bullet column one">
    <% @contributors[0...len].each do |name, url, title| %>
      <li><a href="<%= h(url) %>"<%=if title then " title=\"#{h(title)}\"" end %>><%= h(name) %></a></li>
    <% end %>
    </ul>
    <ul class="bullet column two">
    <% @contributors[len...(len * 2)].each do |name, url, title| %>
      <li><a href="<%= h(url) %>"<%=if title then " title=\"#{h(title)}\"" end %>><%= h(name) %></a></li>
    <% end %>
    </ul>
    <ul class="bullet column three">
    <% @contributors[(len * 2)...@contributors.length].each do |name, url, title| %>
      <li><a href="<%= h(url) %>"<%=if title then " title=\"#{h(title)}\"" end %>><%= h(name) %></a></li>
    <% end %>
    </ul>
  </div>
  
  <br class="clear" />
  
  <p>
    If you have original documents and you're interested in using 
    DocumentCloud &mdash; it's free &mdash; <a href="/contact">contact us</a>.
  </p>

</div>

