<%
  @title  = 'Open Source'
  @nav    = 'opensource'
  @header = 'All our work is open source software'
%>

<div id="content">

  <p>
    As we work on DocumentCloud, we're constantly building pieces of
    infrastructure that could be useful for other organizations that work with
    similar kinds of data. We're <a href="http://www.pbs.org/idealab/2009/10/documentcloud-going-open-source-every-step-of-the-way302.html">releasing as we go</a>
    by extracting useful components as standalone open source projects. Please
    follow our work if you're interested in what lies under the hood.
  </p>

  <h2>DocumentCloud Projects</h2>
  <ul class="bullet opensource">
    <% @github.each do |name, url, github_url, title| %>
    <li>
      <h6>
        <span><a href="<%= h(url) %>"><%= h(name) %></a><a href="<%= github_url %>" class="github_link"></a></span>
      </h6>
      <%= h(title) %>
    </li>
    <% end %>
  </ul>

  <h2>Our Code in the News</h2>
  <%= render :partial => "news_item" %>

</div>