<% (@stylesheets_header ||= []).push File.join(DC.cdn_root(:agnostic => true), "/embed/page/page_embed.css") %>

<header class="header_primary reverse_order">
  <div class="container">
    <nav class="header_nav">
      <%= link_to '⬅︎ Read full document', @current_page.contextual_path %>
    </nav>
    <h1><%= link_to 'DocumentCloud', '/' %></h1>
  </div>
</header>

<div class="container embed-preview-container">
  <div id="DC-embed-container" data-version="1.1">
    <div style="font-size:10pt;line-height:14pt;">
      Page <%= @current_page.page_number %> of <a class="DC-embed-resource" href="<%= @current_page.contextual_url %>" title="View entire <%= @current_document.title %> on DocumentCloud in new window or tab" target="_blank"><%= @current_document.title %></a>
    </div>
    <img src="<%= @current_document.page_image_url(@current_page.page_number, 'normal') %>" srcset="<%= @current_document.page_image_url(@current_page.page_number, 'normal') %> 700w, <%= @current_document.page_image_url(@current_page.page_number, 'large') %> 1000w" alt="Page <%= @current_page.page_number %> of <%= @current_document.title %>" style="max-width:100%;height:auto;margin:0.5em 0;border:1px solid #ccc;-webkit-box-sizing:border-box;box-sizing:border-box;clear:both">
    <div style="font-size:8pt;line-height:12pt;text-align:center">
      Contributed to
      <a href="https://www.documentcloud.org/" title="Go to DocumentCloud in new window or tab" target="_blank" style="font-weight:700;font-family:Gotham,inherit,sans-serif;color:inherit;text-decoration:none">DocumentCloud</a> by
      <a href="<%= @current_document.account_documents_url %>" title="View documents contributed to DocumentCloud by <%= @current_document.account_name %> in new window or tab" target="_blank"><%= @current_document.account_name %></a> of
      <a href="<%= @current_document.organization_documents_url %>" title="View documents contributed to DocumentCloud by <%= @current_document.organization_name %> in new window or tab" target="_blank"><%= @current_document.organization_name %></a> &bull;
      <a href="<%= @current_page.contextual_url %>" title="View entire <%= @current_document.title %> on DocumentCloud in new window or tab" target="_blank">View document</a> or
      <a href="<%= @current_page.text_url %>" title="Read the text of page <%= @current_page.page_number %> of <%= @current_document.title %> on DocumentCloud in new window or tab" target="_blank">read text</a>
    </div>
  </div>
</div>

<% (@javascripts_footer ||= []).push File.join(DC.cdn_root(:agnostic => true), "/embed/page/page_embed.js") %>
<%
  @javascript_footer_inline = <<-EOS
    DocumentCloud.embed.load('#{@current_page.canonical_url}', {
      container: '#DC-embed-container'
    });
  EOS
%>
