<%
  @title = "Login"
%>

<div class="container-sm content paper">
  <%= bootstrap_form_tag url: login_url do |f| %>
    <%= token_tag %>
    <input type="hidden" name="next" value="<%= defined?( @next_url ) ? @next_url : params[:next] %>">
    <h1 class="h3">Log in to DocumentCloud</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <%= f.email_field :email, autofocus: true %>
      </div>
      <div class="col-xs-12 col-sm-6">
        <%= f.password_field :password, autocomplete: 'off' %>
      </div>
    </div>
    <div class="btn-group-set">
      <%= f.submit 'Log in', class: 'btn btn-success btn-block' %>
      <%= link_to 'Forgot your password?', reset_password_url, class: 'btn btn-link' %>
      <%= link_to 'Need an account?', apply_url, class: 'btn btn-link' %>
    </div>
  <% end %>
</div>
