<footer id="page-footer" class="container">
  <p><b>Find and share the story in your source documents.</b></p>
  <p><%= link_to 'DocumentCloud', '/' %> is a service of <%= link_to 'Investigative Reporters & Editors', 'https://www.ire.org'%>. Additional funding provided by <%= link_to 'The Knight Foundation', 'http://www.knightfoundation.org/' %>.</p>
  <nav class="nav justify-content-center">
    <%= link_to 'Contact us', "/contact", class: 'nav-link' %>
    <%= link_to 'Terms of Service', "/terms", class: 'nav-link' %>
    <%= link_to 'Privacy Policy', "/privacy", class: 'nav-link' %>
  </nav>
</footer>
