<header id="page-header" class="navbar navbar-light dc-navbar dc-navbar-primary" role="navigation">
  <% if @use_minimal_nav %>
  <div class="d-flex justify-content-between">
    <nav class="navbar-nav flex-last">
      <%= link_to 'DocumentCloud', '/', class: 'nav-item nav-link dc-logo' %>
    </nav>
    <nav class="navbar-nav flex-first">
      <%= link_to "&larr; #{@minimal_back_text}".html_safe, @minimal_back_link, class: 'nav-item nav-link' %>
    </nav>
  </div>
  <% else %>
  <div class="d-flex flex-row">
    <nav class="navbar-nav">
      <%= link_to 'DocumentCloud', '/', class: 'nav-item nav-link dc-logo' %>
    </nav>
    <nav class="navbar-nav navbar-toggleable-md ml-auto">
      <button class="navbar-toggler align-self-end" type="button" data-toggle="collapse" data-target="#dc-main-nav" aria-controls="dc-main-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="dc-main-nav">
        <nav class="navbar-nav">
          <%= link_to 'Documents', search_path, class: 'nav-item nav-link' %>
          <div class="nav-item dropdown">
            <%= link_to 'About', about_path, class: 'nav-link dropdown-toggle', role: 'button', data: {toggle: 'dropdown'} %>
            <div class="dropdown-menu">
              <%= link_to 'Who We Are', about_path, class: 'dropdown-item' %>
              <%= link_to 'FAQ', faq_path, class: 'dropdown-item' %>
              <%= link_to 'Open Source', opensource_path, class: 'dropdown-item' %>
              <%= link_to 'Contributors', contributors_path, class: 'dropdown-item' %>
              <%= link_to 'Featured Reporting', featured_index_path, class: 'dropdown-item' %>
            </div>
          </div>
          <%= link_to 'Donate', donate_path, class: 'nav-item nav-link' %>
          <%= link_to 'Help', '/help', class: 'nav-item nav-link' %>
          <%= link_to 'Contact', contact_path, class: 'nav-item nav-link' %>
          <% if @current_account %>
            <div id="account-menu" class="nav-item dropdown">
              <%= link_to @current_account.full_name, File.join(DC.accounts_root, '/settings'), class: 'nav-link dropdown-toggle', role: 'button', data: {toggle: 'dropdown'} %>
              <div class="dropdown-menu dropdown-menu-right">
                <%= link_to 'My account', File.join(DC.accounts_root, '/settings'), class: 'dropdown-item' %>
                <div class="dropdown-divider"></div>
                <div class="dropdown-header">Language Settings</div>
                <div class="dropdown-content demargin-first-last">
                  <ul class="list-unstyled">
                    <li>Display interface in <span class="inline-select" disabled title="Inline language editing hasn't been implemented yet."><%= DC::Language::NAMES[@current_account.language] %></span></li>
                    <li>
                      Process documents as <span class="inline-select" disabled title="Inline language editing hasn't been implemented yet."><%= DC::Language::NAMES[@current_account.document_language] %></span>
                      <div class="text-muted">You can override the language setting on individual documents.</div>
                    </li>
                  </ul>
                </div>
                <div class="dropdown-divider"></div>
                <%= link_to 'Log out', logout_path, class: 'dropdown-item text-danger' %>
              </div>
            </div>
          <% end %>
        </nav>
      </nav>
    </nav>
  </div>
  <% end %>
</header>
