<header id="page-header" class="navbar navbar-light dc-navbar dc-navbar-primary" role="navigation">
  <% if @use_minimal_nav %>
  <div class="d-flex justify-content-between">
    <nav class="navbar-nav flex-last">
      <%= link_to 'DocumentCloud', '/', class: 'nav-item nav-link dc-logo' %>
    </nav>
    <nav class="navbar-nav flex-first">
      <%= link_to "&larr; #{@minimal_back_text}".html_safe, @minimal_back_link, class: 'nav-item nav-link' %>
    </nav>
  </div>
  <% else %>
  <div class="d-flex flex-row">
    <nav class="navbar-nav">
      <%= link_to 'DocumentCloud', '/', class: 'nav-item nav-link dc-logo' %>
    </nav>
    <nav class="navbar-nav navbar-toggleable-md ml-auto">
      <button class="navbar-toggler align-self-end" type="button" data-toggle="collapse" data-target="#dc-main-nav" aria-controls="dc-main-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="dc-main-nav">
        <nav class="navbar-nav">
          <%= link_to 'Documents', search_path, class: 'nav-item nav-link' %>
          <div class="nav-item dropdown">
            <%= link_to 'About', about_path, class: 'nav-link dropdown-toggle', role: 'button', data: {toggle: 'dropdown'} %>
            <div class="dropdown-menu">
              <%= link_to 'Who We Are', about_path, class: 'dropdown-item' %>
              <%= link_to 'FAQ', faq_path, class: 'dropdown-item' %>
              <%= link_to 'Open Source', opensource_path, class: 'dropdown-item' %>
              <%= link_to 'Contributors', contributors_path, class: 'dropdown-item' %>
              <%= link_to 'Featured Reporting', featured_index_path, class: 'dropdown-item' %>
            </div>
          </div>
          <%= link_to 'Donate', donate_path, class: 'nav-item nav-link' %>
          <%= link_to 'Help', '/help', class: 'nav-item nav-link' %>
          <%= link_to 'Contact', contact_path, class: 'nav-item nav-link' %>
        <% if @current_account %>
          <% if @current_account.dcloud_admin? %>
            <div class="nav-item dropdown">
              <%= link_to 'Admin', admin_path, class: 'nav-link dropdown-toggle', role: 'button', data: {toggle: 'dropdown'} %>
              <div class="dropdown-menu dropdown-menu-right">
                <%= link_to "Dashboard", admin_path, class: 'dropdown-item' %>
                <%= link_to "Tools", admin_tools_path, class: 'dropdown-item' %>
                <%= link_to "Add Organization", admin_add_organization_path, class: 'dropdown-item' %>
                <%= link_to "Manage Organizations", admin_organizations_path, class: 'dropdown-item' %>
                <%= link_to "Manage Memberships", "/admin/memberships", class: 'dropdown-item' %>
                <%= link_to "Manage Featured Reporting", "/admin/featured", class: 'dropdown-item' %>
                <%= external_link_to "View CloudCrowd Console", DC::CONFIG['cloud_crowd_console'], class: 'dropdown-item' %>
                <!-- <div class="dropdown-divider"></div>
                <li class="dropdown-header">Tools</li>
                <%= link_to "Update Dashboard Stats", "/admin/expire_stats", class: 'dropdown-item' %>
                <%= link_to "Reprocess Last Failed Doc", "#", class: 'dropdown-item', id: "" %>
                <%= link_to "Force a DB Backup to S3",   "#", class: 'dropdown-item', id: "forceBackup" %>
                <%= link_to "Vacuum Analyze the DB",     "#", class: 'dropdown-item', id: "vacuumAnalyze" %>
                <%= link_to "Optimize the Solr Index",   "#", class: 'dropdown-item', id: "optimizeSolr" %>
                <%= link_to "Launch a Worker Instance",  "#", class: 'dropdown-item', id: "launchWorker" %> -->
              </div>
            </div>
          <% end %>
          <%= link_to 'Log out', logout_path, class: 'nav-item nav-link text-danger' %>
        <% end %>
        </nav>
      </nav>
    </nav>
  </div>
  <% end %>
</header>
