<header id="page-header" class="navbar navbar-full dc-navbar dc-navbar-primary" role="banner">
  <% if @use_minimal_nav %>
    <nav class="nav navbar-nav float-right">
      <%= link_to 'DocumentCloud', '/', class: 'nav-item nav-link dc-logo' %>
    </nav>
    <nav class="nav navbar-nav float-left">
      <%= link_to "&larr; #{@minimal_back_text}".html_safe, @minimal_back_link, class: 'nav-item nav-link' %>
    </nav>
  <% else %>
    <nav class="nav navbar-nav">
      <%= link_to 'DocumentCloud', '/', class: 'nav-item nav-link dc-logo' %>
    </nav>
    <button id="dc-main-nav-toggler" class="navbar-toggler hidden-md-up float-right" type="button" data-toggle="collapse" data-target="#dc-main-nav">☰</button>
    <div class="hidden-md-up clearfix"></div>
    <div id="dc-main-nav" class="collapse navbar-toggleable-sm float-left float-md-right">
      <nav class="nav navbar-nav">
        <%= link_to 'Documents', search_path, class: 'nav-item nav-link' %>
        <div class="nav-item dropdown">
          <%= link_to 'About', about_path, class: 'nav-link dropdown-toggle', role: 'button', data: {toggle: 'dropdown'} %>
          <div class="dropdown-menu">
            <%= link_to 'Who We Are', about_path, class: 'dropdown-item' %>
            <%= link_to 'FAQ', faq_path, class: 'dropdown-item' %>
            <%= link_to 'Open Source', opensource_path, class: 'dropdown-item' %>
            <%= link_to 'Contributors', contributors_path, class: 'dropdown-item' %>
            <%= link_to 'Featured Reporting', featured_index_path, class: 'dropdown-item' %>
          </div>
        </div>
        <%= link_to 'Donate', donate_path, class: 'nav-item nav-link' %>
        <%= link_to 'Help', '/help', class: 'nav-item nav-link' %>
        <%= link_to 'Contact', contact_path, class: 'nav-item nav-link' %>
        <% if @current_account %>
          <div id="account-menu" class="nav-item dropdown">
            <%= link_to @current_account.full_name, File.join(DC.accounts_root, '/settings'), class: 'nav-link dropdown-toggle', role: 'button', data: {toggle: 'dropdown'} %>
            <div class="dropdown-menu dropdown-menu-right">
              <%= link_to 'My account', File.join(DC.accounts_root, '/settings'), class: 'dropdown-item' %>
              <div class="dropdown-divider"></div>
              <div class="dropdown-header">Language Settings</div>
              <div class="dropdown-content demargin-first-last">
                <ul class="list-unstyled">
                  <li>Display interface in <span class="inline-select" disabled title="Inline language editing hasn't been implemented yet."><%= DC::Language::NAMES[@current_account.language] %></span></li>
                  <li>
                    Process documents as <span class="inline-select" disabled title="Inline language editing hasn't been implemented yet."><%= DC::Language::NAMES[@current_account.document_language] %></span>
                    <div class="text-muted">You can override the language setting on individual documents.</div>
                  </li>
                </ul>
              </div>
              <div class="dropdown-divider"></div>
              <%= link_to 'Log out', logout_path, class: 'dropdown-item text-danger' %>
            </div>
          </div>
        <% end %>
      </nav>
    </nav>
  <% end %>
</header>
