<%
  @title = "Document Contributors"
%>

<h1>Document Contributors</h1>

<p>
  If you have original documents and you’re interested in using
  DocumentCloud,
  <a href="mailto:info@documentcloud.org">drop us a line</a>.
</p>

<p>
  Once it’s up and running, DocumentCloud will be open for contributions from
  anyone gathering primary source documents &mdash; whether
  professional journalists, bloggers, or nonprofit groups. The archive of public
  documents will be available for anyone on the web to search through and read.
  The following organizations have agreed to work with us 
  during our development phase:
</p>

<h2>Initial Partners</h2>

<ul>
  <% @partners.each do |name, url| %>
    <li><a href="<%= h(url) %>"><%= h(name) %></a></li>
  <% end %>
</ul>

<h2>Contributing Organizations</h2>

<ul>
  <% @contributors.each do |name, url, title| %>
    <%= p(name.inspect) %>
    <li><a href="<%= h(url) %>"<%=if title then " title=\"#{h(title)}\"" end %>><%= h(name) %></a></li>
  <% end %>
</ul>

