<p class="intro">
  DocumentCloud is a distributed repository of primary source documents,<br /> 
  and a tool for annotating, organizing, and publishing them on the web.
</p>
<p>
  The documents will be contributed by journalists and researchers from 
  a panoply of <a href="/contributors">news organizations and nonprofit groups</a>. 
  If your organization does document-driven investigations, we'd love to have
  you <a href="mailto:info@documentcloud.org">join us</a>. 
  Using the DocumentCloud Workspace, your team can upload documents
  and get back the full text, a PDF copy, access to a structured search engine 
  and analytical tools, as well as a downloadable version of the Document Viewer 
  that makes it possible to embed the document on your own website.
</p>
<img class="screenshot" alt="DocumentCloud Screenshot" src="/images/static/screenshot.png" />
<p>
  At the moment, we're working towards an initial beta release. As we develop
  the DocumentCloud application, we're packaging up the components that support
  it, and releasing them as <a href="/opensource">open-source projects</a>.
  Our releases so far include: a utility for extracting images and text from document files,
  an asset packager, a library of functional helpers for JavaScript, 
  and a parallel processing system. 
</p>

<div id="extras">
  <div id="twitter">
    <%= render :partial => 'twitter' %>
  </div>
  <div id="blogposts">
    <h2>Latest Updates</h2>
    <ul>
      <% @posts.each do |title, url, source, date| %>
      <li>
        <a href="<%= h(url) %>"><%= h(title) %></a><br />
        <i><%= h(source) %></i>, <small><%= date.strftime("%b %d, %Y") %></small>
      </li>
      <% end %>
    </ul>
  </div>
</div>