<p class="home_splash">
  DocumentCloud is an index of primary source documents and a tool for 
  annotating, organizing and publishing them on the web.
</p>
<p>
  Documents are contributed by journalists, researchers and archivists. 
  If your organization does document-driven investigations, we’d love to have 
  you join us. Using the DocumentCloud workspace, you can upload documents, 
  share them with your team, and conduct structured searches
  and analyses based on extracted entities &mdash; the people, places, and 
  organizations mentioned in the text. As a contributor, you can download a 
  lightweight document viewer to embed documents on your web site.
</p>
<p>
  <a href="/featured">Take a look</a> at how news organizations are beginning to
  use DocumentCloud to complement their reporting.
</p>
<p>
  At the moment, we're in the middle of our initial beta release. If you're a
  news organization or nonprofit that would like to join, please 
  <a href="/contact">get in touch</a>.
</p>
<p>
  As we develop the DocumentCloud application, we're packaging up the components 
  that support it, and releasing them as <a href="/opensource">open-source projects</a>.
  Our releases so far include the majority of our document processing code.
</p>


<div id="extras">
  <div id="twitter">
    <%= render :partial => 'twitter' %>
  </div>
  <div id="blogposts">
    <h2>Latest Updates</h2>
    <ul>
      <% @posts.each do |title, url, source, date| %>
      <li>
        <a href="<%= h(url) %>"><%= h(title) %></a><br />
        <i><%= h(source) %></i> &ndash; <small><%= date.strftime("%b %d, %Y") %></small>
      </li>
      <% end %>
    </ul>
  </div>
</div>
