<%
  @title = "Open Source"
%>

<h1>Get our Code</h1>

<p>
  We're
  <a href="http://www.pbs.org/idealab/2009/10/documentcloud-going-open-source-every-step-of-the-way302.html">releasing as we go</a>,
  so please follow our work if you’re interested in what lies under the hood of
  DocumentCloud.
</p>

<h2>Our Code in the News</h2>
<%= render :partial => "news" %>

<h2>Github Projects</h2>
<ul>
  <% @github.each do |name, url, title| %>
  <li>
    <a href="<%= h(url) %>"><%= h(name) %></a>
    (<a href="http://github.com/documentcloud/<%= name %>/">code</a>)
    - <%= h(title) %>
  </li>
  <% end %>
</ul>
