<%
  @title  = 'Featured Reporting'
  @header = 'What can I do with DocumentCloud?'
%>
<%= auto_discovery_link_tag(:rss, :format=>:rss ) %>

<div id="content" class="featured">

  <p>
    We're highlighting stories and interactive applications where DocumentCloud played a significant role. Have one to share? <a href="mailto:support@documentcloud.org">Let us know!</a> Meanwhile, our <a href="https://www.documentcloud.org/public/search/">public catalog</a> lets you search more than a million documents uploaded by our users.
  </p>

<% @reports.each do | report | %>
  <h6>
    <a href="<%= report.url %>"><u><%= report.title %></u></a>
    <small><i><%= report.organization %></i>, <%= report.article_date.strftime('%B %e, %Y') %></small>
  </h6>
  <%= report.writeup_html %>
<% end %>

</div>
