<%
  @title  = 'Featured Reporting'
  @header = 'What can I do with DocumentCloud?'
%>
<%= auto_discovery_link_tag(:rss, :format=>:rss ) %>

<div id="content" class="featured">

  <p>
    Here are just a few highlights of stories and interactive applications that made significant use of DocumentCloud. Visit our <a href="https://www.documentcloud.org/public">public catalog</a> to search hundreds of thousands more documents uploaded by our users.
  </p>

<% @reports.each do | report | %>
  <h6>
    <a href="<%= report.url %>"><u><%= report.title %></u></a>
    <small><i><%= report.organization %></i>, <%= report.article_date.strftime('%B %e, %Y') %></small>
  </h6>
  <%= report.writeup_html %>
<% end %>

</div>
