<!DOCTYPE html>
<html lang="en">
<head>
  <%= render :partial => 'common/meta_tags' %>
  <title><%= DC.t( @current_account, 'print_notes' ) %></title>
  <%= render :partial => 'accounts/language_settings' %>
  <% css = [:ui, :workspace] + (@stylesheets || []) + [{:media => 'all'}] %>
  <% js  = [:core] + (@javascripts || []) %>
  <%= include_stylesheets *css %>
  <%= include_javascripts *js %>
  <!--[if lte IE 6]>
    <script>window.location = '/workspace/upgrade';</script>
  <![endif]-->
  <!--[if lt IE 9]>
    <%= include_stylesheets :lt_ie_9, :embed_assets => false %>
  <![endif]-->
</head>
<body class="print_notes">

  <script>
    // Render a list of documents, with annotations preloaded, and then
    // print and close the page.

    $(document.body).append((new dc.ui.DocumentList().render()).el);
    Documents.reset([<%= raw @documents_json.join(',') %>]);
    $(window).load(function() {
      window.print();
    });
  </script>

</body>
</html>
