<h2 <%= 'class="active"'.html_safe if changelog_entry['version'] == viewing['version'] %>>
  <%= link_to "v#{changelog_entry['version']}", terms_path(changelog_entry['current'] ? {} : {version: changelog_entry['version']}) %>
</h2>
<div class="term_duration">
  <%= 'Effective ' if changelog_entry['pending'] %>
  <%= changelog_entry['start'].to_s(:long) if changelog_entry['start'] %>
  <%= "– #{changelog_entry['end'].to_s(:long)}" if changelog_entry['end'] %>
  <%= '<span class="badge good">Current</span>'.html_safe if changelog_entry['current'] %>
</div>
<% if changelog_entry['description'] %>
  <p><%= changelog_entry['description'].html_safe %></p>
<% end %>
<% if changelog_entry['items'] %>
  <ul class="disc">
  <% changelog_entry['items'].each do |item| %>
    <li><%= item.html_safe %></li>
  <% end %>
  </ul>
<% end %>
