<!DOCTYPE html>
<html lang="en">
<head>
  <%= render :partial => 'common/meta_tags' %>
  <title><%= compose_title(@title) %></title>
  <% css = [:ui, :workspace, :admin] + (@stylesheets || []) + [{:media => 'all'}] %>
  <% js  = [:core, :admin] + (@javascripts || []) %>
  <%= include_stylesheets *css %>
  <%= include_javascripts *js %>
  <%= csrf_meta_tag %> 
</head>
<body class="admin <%= @bodyclass %>">

  <div id="container">
    <div id="topbar" class="header gradient_mid">
      <div id="logo">
        <a href="/home"><div id="cloud_edge"></div></a>
        <div id="wordmark" class="logo_words"><a href="/">DocumentCloud</a></div>
        <h1 id="title" class="logo_words"><%= @title %></h1>
      </div>
    </div>
    <div id="content">
      <%= yield %>
    </div>
  </div>

</body>
</html>