<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <%= render :partial => 'common/meta_tags' %>
  <title><%= @title %> | DocumentCloud</title>
  <%= include_stylesheets :v2, :media => 'all' %>
  <%= include_javascripts :v2 %>
  <!--[if IE]><%= include_javascripts :ie_only %><![endif]-->
  <%= include_templates :v2 %>
  <%= render :partial => 'common/v2_bootstrap' %>
</head>
<body class="<%= @bodyclass %>">

  <%= yield %>

  <!-- <div id="container">
      <div id="topbar" class="header">
        <div id="cloud_edge"></div>
        <div id="wordmark" class="logo_words"><a href="/">DocumentCloud</a></div>
        <h1 id="title" class="logo_words"><%= @title %></h1>
        <% if @show_search %>
          <input id="search" type="search" placeholder="search" autosave="documentcloud" results="10" />
        <% end %>
      </div>

      <div id="content">
        <%# yield %>
      </div>

    </div> -->

</body>
</html>