<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <%= render :partial => 'common/meta_tags' %>
  <title>DocumentCloud</title>
  <% css = [:v1, :empty] + (@stylesheets || []) + [{:media => 'all'}] %>
  <%= include_stylesheets *css %>
  <%= include_javascripts :v1 %>
  <%= include_templates :v1 %>
</head>
<body class="empty">

  <div id="container">

    <div id="content">
      <%= yield %>
    </div>

  </div>

</body>
</html>