<!DOCTYPE html>

<html lang="en">
<head>
  <%= render :partial => 'common/meta_tags' %>
  <title>DocumentCloud</title>
  <% css = [:ui, :empty] + (@stylesheets || []) + [{:media => 'all'}] %>
  <%= include_stylesheets *css %>
  <!--[if lt IE 9]>
    <%= include_stylesheets :ie_only, :embed_assets => false %>
  <![endif]-->
  <%= include_javascripts :core %>
  <%= csrf_meta_tag %> 
</head>
<body class="empty">

  <div id="container">

    <div id="content">
      <%= yield %>
    </div>

  </div>

</body>
</html>