<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <%= render :partial => 'common/meta_tags' %>
  <title>DocumentCloud</title>
  <%= include_stylesheets :app, :empty, :media => 'all' %>
  <%= include_javascripts :workspace %>
  <%= include_templates :complete %>
</head>
<body class="empty">

  <div id="container">

    <div id="content">
      <%= yield %>
    </div>

  </div>

</body>
</html>