<!DOCTYPE html>
<html lang="en" class="v2">
<head>
  <%= render :partial => 'common/meta_tags' %>
  <title><%= compose_title(@title) %></title>
  <%= include_stylesheets :ui_v2 %>
  <!--[if lt IE 9]>
    <%= include_stylesheets :lt_ie_9, :embed_assets => false %>
  <![endif]-->
  <%= include_javascripts :core %>
  <%= csrf_meta_tag %> 
</head>
<body>

  <div class="container">
    <%= yield %>
  </div>

  <%= render :partial => 'common/google' %>

</body>
</html>