<!DOCTYPE html>

<html lang="en">
<head>
  <%= render :partial => 'common/meta_tags' %>
  <title><%= @title ? "#{@title} - " : '' %>DocumentCloud</title>
  <%= include_stylesheets :ui, :home %>
  <% if Rails.env.development? %>
    <script src="/javascripts/vendor/jquery-1.4.2.js" type="text/javascript"></script>
    <script src="/javascripts/lib/debug.js" type="text/javascript"></script>
  <% end %>
  <%= include_javascripts :core, :home %>
  <% if Rails.env.production? %>
    <%= render :partial => 'common/google' %>
  <% end %>
</head>
<body class="<%= @bodyclass %>">

  <div id="grid"></div>

  <%= render :partial => 'nav' %>

  <div id="sky"></div>

  <% if @bodyclass != 'homepage' %>

    <a id="logo" href="/"><img src="/images/home/logo.png" alt="DocumentCloud" /></a>

  <% end %>

  <%= yield %>

  <%= render :partial => 'footer' %>

</body>
</html>
