<!DOCTYPE html>

<html lang="en">
<head>
  <%= render :partial => 'common/meta_tags' %>
  <title><%= @title ? "#{@title} - " : '' %>DocumentCloud</title>
  <%= include_stylesheets :ui, :home %>
  <% if Rails.env.development? %>
    <script src="/javascripts/vendor/jquery-1.4.2.js" type="text/javascript"></script>
    <script src="/javascripts/lib/debug.js" type="text/javascript"></script>
  <% end %>
  <%= include_javascripts :core, :home %>
  <% if Rails.env.production? %>
    <%= render :partial => 'common/google' %>
  <% end %>
</head>
<body class="<%= @bodyclass %>">

  <div id="toolbar">
    <div id="innerbar">
      <div id="logo"></div>
      <ul id="toolmenu" class="sans">
        <li>The Details</li>
        <li>Search</li>
        <li>Open Source</li>
        <li>User Guide</li>
        <li>Contact Us</li>
      </ul>
    </div>
  </div>
  
  <div id="sky"></div>
  
  <%= yield %>
    
</body>
</html>
