<!DOCTYPE html>

<html lang="en">
<head>
  <%= render :partial => 'common/meta_tags' %>
  <title><%= @title ? "#{@title} - " : '' %>DocumentCloud</title>
  <%= include_stylesheets :ui, :home %>
  <% if Rails.env.development? %>
    <script src="/javascripts/vendor/jquery-1.4.2.js" type="text/javascript"></script>
    <script src="/javascripts/lib/debug.js" type="text/javascript"></script>
  <% end %>
  <%= include_javascripts :core, :home %>
  <% if Rails.env.production? %>
    <%= render :partial => 'common/google' %>
  <% end %>
</head>
<body class="<%= @bodyclass %>">

  <div id="toolbar">
    <!-- <div id="logo"></div> -->
    <div id="innerbar">
      <ul id="nav">
        <li id="nav_what"><div class="mark"></div></li>
        <li id="nav_search"><div class="mark"></div></li>
        <li id="nav_open"><div class="mark"></div></li>
        <li id="nav_guide"><div class="mark"></div></li>
      </ul>
    </div>
  </div>
  
  <div id="sky"></div>
  
  <%= yield %>
    
</body>
</html>
