<!DOCTYPE html>

<html lang="en">
<head>
  <%= render :partial => 'common/meta_tags' %>
  <title><%= @title ? "#{@title} - " : '' %>DocumentCloud</title>
  <%= include_stylesheets :ui, :home %>
  <% if Rails.env.development? %>
    <script src="/javascripts/vendor/jquery-1.4.2.js" type="text/javascript"></script>
    <script src="/javascripts/lib/debug.js" type="text/javascript"></script>
  <% end %>
  <%= include_javascripts :core, :home %>
  <% if Rails.env.production? %>
    <%= render :partial => 'common/google' %>
  <% end %>
</head>
<body class="<%= @bodyclass %>">

  <div id="toolbar">
    <div id="innerbar">
      <ul id="nav">
        <li id="nav_overview">
          <a class="mark imagetext active" href="#">
            Overview: A tool for journalists, a document catalog, both.
          </a>
        </li>
        <li id="nav_search">
          <a class="mark imagetext" href="#">
            Search: Our catalog has thousands of newsworthy documents.
          </a>
        </li>
        <li id="nav_open">
          <a class="mark imagetext" href="#">
            Our work is open source. Use it in your projects.
          </a>
        </li>
        <li id="nav_guide">
          <a class="mark imagetext" href="#">
            Learn about DocumentCloud's advanced features and API.
          </a>
        </li>
        <li id="nav_news">
          <a class="mark imagetext" href="#">
            Read the blog to find out about new features.
          </a>
        </li>
      </ul>
    </div>
  </div>
  
  <div id="sky"></div>
  
  <%= yield %>
  
  <div id="footer" class="sans">
    
    <ul id="logos">
      <li>
        <a href="#"><img src="/images/embed/home/logos/logo-nyt.png" alt="" /></a>
      </li>
      <li>
        <a href="#" class="propublica"><img src="/images/embed/home/logos/logo-pro-publica.png" alt="" /></a>
      </li>
      <li>
        <a href="#"><img src="/images/embed/home/logos/logo-pbs.png" alt="" /></a>
      </li>
      <li>
        <a href="#"><img src="/images/embed/home/logos/logo-lat.png" alt="" /></a>
      </li>
      <li>
        <a href="#"><img src="/images/embed/home/logos/logo-msnbc.png" alt="" /></a>
      </li>
      <li>
        <a href="#"><img src="/images/embed/home/logos/logo-trib.png" alt="" /></a>
      </li>
      <li>
        <a href="#"><img src="/images/embed/home/logos/logo-wired.png" alt="" /></a>
      </li>
      <li>
        <a href="#" class="more">More&hellip;</a>
      </li>      
    </ul>
    <br class="clear" />
    
  </div>
    
</body>
</html>
