<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <%= render :partial => 'common/meta_tags' %>
  <title><%= @title %> | DocumentCloud</title>
  <% css = [:app, :workspace] + (@stylesheets || []) + [{:media => 'all'}] %>
  <%= include_stylesheets *css %>
  <%= include_javascripts :workspace %>
  <%= include_templates :complete %>
  <%= render :partial => 'common/bootstrap' %>
</head>
<body>

    <div id="content">
      <%= yield %>
    </div>

</body>
</html>