<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <%= render :partial => 'common/meta_tags' %>
  <title><%= @title %> | DocumentCloud</title>
  <%= include_stylesheets :website %>
</head>
<body>

  <div id="container">

    <%= render :partial => 'header' %>

    <div id="content">
      <%= yield %>
    </div>

  </div>

</body>
</html>