<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <%= render :partial => 'common/meta_tags' %>
  <title><%= @title %> | DocumentCloud</title>
  <% css = [:app, :workspace] + (@stylesheets || []) + [{:media => 'all'}] %>
  <%= include_stylesheets *css %>
  <%= include_javascripts :workspace %>
  <%= include_templates :complete %>
  <%= render :partial => 'common/bootstrap' %>
</head>
<body class="workspace <%= @current_account ? 'logged_in' : '' %> <%= @bodyclass %>">

  <div id="container">
    <div id="topbar" class="header">
      <div id="cloud_edge"></div>
      <div id="wordmark" class="logo_words"><a href="/">DocumentCloud</a></div>
      <h1 id="title" class="logo_words"><%= @title %></h1>
      <% if @show_search %>
        <input id="search" type="search" placeholder="search" autosave="documentcloud" results="10" />
      <% end %>
    </div>

    <div id="content">
      <%= yield %>
    </div>

  </div>

  <iframe id="hidden_iframe" name="hidden_iframe" src="about:blank" class="hidden_iframe"></iframe>

</body>
</html>