<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title><%= @title %> | DocumentCloud</title>
  <%= stylesheet_asset_tag '/stylesheets/pages/workspace.css' %>
  <%= javascript_asset_tag %>
  <%= jst_asset_tag %>
</head>
<body class="workspace <%= @account ? 'logged_in' : '' %>">
  
  <div id="container">
    <div id="topbar" class="header">
      <div id="cloud_edge"></div>
      <div id="wordmark" class="logo_words">DocumentCloud</div>
      <h1 id="title" class="logo_words"><%= @title %></h1>
      <% if @show_search %>
        <input id="search" type="search" placeholder="search" />
      <% end %>
    </div>
  
    <div id="content">
      <%= yield %>
    </div>
    
  </div>

</body>
</html>