<!DOCTYPE html>
<html lang="en">
<head>
  <%= render :partial => 'common/meta_tags' %>
  <title><%= compose_title(@title) %></title>
  <%= render :partial => 'accounts/language_settings' %>

  <% css = [:ui, :workspace] + (@stylesheets || []) + [{:media => 'all'}] %>
  <% js  = [:core] + (@javascripts || []) %>
  <%= include_stylesheets *css %>
  <%= include_javascripts *js %>
  <!--[if lte IE 6]>
    <script>window.location = '/workspace/upgrade';</script>
  <![endif]-->
  <!--[if lt IE 9]>
    <%= include_stylesheets :lt_ie_9, :embed_assets => false %>
    <%= include_javascripts :lt_ie_9 %>
  <![endif]-->
  <% if Rails.env.development? %>
    <%= include_javascripts :dev_only %>
  <% end %>
  <%= csrf_meta_tag %> 
</head>
<body class="<%= @bodyclass %> <%= @current_account ? 'logged_in' : '' %>">

  <div id="container">
    <div id="topbar" class="header gradient_mid">
      <div id="logo">
        <a href="/home"><div id="cloud_edge"></div></a>
        <div id="wordmark" class="logo_words"><a href="/">DocumentCloud</a></div>
        <h1 id="title" class="logo_words"><%= @title %></h1>
      </div>
    </div>
    <a id="workspace_logo" href="/home"></a>
    <div id="toplinks" class="interface">
      <a href="/home" class="text_link"><%= DC.t( @current_account, 'home') %></a>
      &nbsp;/&nbsp;
      <% if @current_account %>
        <a href="/logout" class="text_link"><%= DC.t( @current_account, 'log_out') %></a>
      <% else %>
        <a href="/apply" class="text_link">Join</a>
        &nbsp;/&nbsp;
        <a href="<%= DC.server_root(:force_ssl => true) %>/login" class="text_link">Log In</a>
      <% end %>
    </div>
    <div id="content">
      <%= yield %>
    </div>
  </div>

  <div id="overlay"></div>
  <div class="selection" style="display:none;"></div>
  <div id="spinner" style="display:none;"></div>

  <%= render :partial => 'common/bootstrap', :locals => {:workspace => true} %>

  <%= render :partial => 'common/google' if @include_analytics %>

</body>
</html>
