<%
  @title = "Enable Account"
%>

<div class="container-sm content paper">
  <%= bootstrap_form_tag url: enable_account_url(params[:key]), autocomplete: 'off' do |f| %>
    <%= token_tag %>
    <h1 class="h3">Welcome to DocumentCloud</h1>
    <p>
      Please set a password for your DocumentCloud account.
      Once you log in, you'll be able to add additional accounts for people in your newsroom.
      You can also use this form to reset the password on an existing account.
    </p>
    <%= f.password_field :password, autocomplete: 'off' %>
    <%= f.check_box :acceptance, {label: "I understand and accept the DocumentCloud <a href='/terms'>Terms of Service</a>".html_safe}, 'yes' %>
    <div class="btn-group-set">
      <%= f.submit 'Enable account &amp; log in'.html_safe, class: 'btn btn-success btn-lg btn-block' %>
    </div>
  <% end %>
</div>
